# https://discordjs.guide/oauth2/#getting-an-oauth2-url
DISCORD_OAUTH2_URL = ""
OAUTH_ID = ""
OAUTH_SECRET= ""
# <BASE_URL>/auth/login/redirect/
REDIRECT_URI = "http://localhost:8000/auth/login/redirect/"

# Can generate a key by running:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())" 
#
# More info: https://docs.djangoproject.com/en/4.1/ref/settings/#std-setting-SECRET_KEY
#
# DO NOT CHANGE UNLESS KEY IS COMPROMISED IN SOME WAY
DJANGO_KEY=""