{% extends 'core/base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/need-verification.css' %}" rel="stylesheet">

<div id="content">

    <div id="card-content" class="card rounded">
        <div id="section-separator" class="container-fluid rounded">
            <h1>You're Not Verified!</h1>
        </div>

        <div id="content-card" class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://cdn.discordapp.com/icons/959551566388547676/a7df59d619696a88aea5032300166c19.webp?size=512"
                        class="img-fluid rounded-start" alt="TransPlace Server Icon">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 id="content-title" class="card-title rounded">Get Verified</h5>
                        <p class="card-text">For security reasons, we only allow verified members of our <a
                                href="https://discord.gg/transplace">Discord server</a> to see user content.<br>You can
                            join by going to <a href="https://discord.gg/transplace">discord.gg/transplace</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-footer">
            </div>
        </div>
    </div>


</div>

{% endblock %}