{% extends 'core/base.html' %}

{% block title %} Posts {% endblock %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb" class="px-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" id="breadcrumb-link">Home</a></li>
        <li class="breadcrumb-item" active aria-current="page">Posts</li>
    </ol>
</nav>
{% endblock %}


{% block content %}

{% load static %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
<script src="{% static 'js/posts_overview.js' %}"></script>

<div id="content" class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="card-content" class="rounded border-0">
                <div id="section-separator" class="container-fluid rounded card-title">
                    <h1>Server Messages</h1>
                </div>


                {% for post in server_messages %}
                <div id="content-card" class="card">

                    <div class="card-header">{{ post.message_type }}</div>

                    <div class="row g-0">

                        {% if post.file_url %}
                        <div class="col-md-4">
                            <img loading="lazy" src="{{ post.file_url }}" class="rounded-4 img-fluid" alt="Trans Flag">
                        </div>

                        {% else %}
                        <div class="col-md-4">
                            <img loading="lazy"
                                src="https://cdn.discordapp.com/icons/959551566388547676/a7df59d619696a88aea5032300166c19.webp?size=512"
                                class="img-fluid rounded-4" alt="Trans Flag">
                        </div>
                        {% endif %}

                        <div class="col-md-8">
                            <div class="card-body">

                                <h5 id="content-title" class="card-title rounded">{{ post.title }}</h5>

                                {% if post.message_type == "Announcement" %}

                                <p class="card-text">{{ post.content|truncatechars:500|linebreaks }}</p>
                                <a href="{% url 'details' post.id %}">View More</a>

                                {% else %}

                                <a href="{% url 'details' post.id %}">View Message</a>

                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        {{ post.created_at|timesince }} ago

                        <br>View More
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <div id="card-content" class="rounded">
                <div id="section-separator" class="container-fluid rounded">
                    <div class="row">
                        <div class="col-8 justify-self-end">
                            <h1>User Content</h1>
                        </div>
                        <div class="col-4 align-self-center justify-content-end">
                            <h2><a href="{% url 'view_all' 'user-content' %}">View all</a></h2>
                        </div>
                    </div>
                </div>

                {% for post in user_content %}
                <a href="{% url 'details' post.id %}" id="reddit-link-card">
                    <div id="content-card" class="card py-2">
                        {# <div class="card-header">Submitted by a person</div> #}

                        {% if post.reddit_url %}
                        <div>

                            <div class="card-body">
                                <h5 id="content-title" class="card-title rounded d-lg-flex">{{ post.title }}</h5>
                            </div>



                            {% if post.file_url %}

                            <img loading="lazy" src="{{ post.file_url }}" class="rounded-4 img-fluid" alt="Trans Flag"
                                style="width: 50% !important; height:50% !important;">

                            {% else %}
                            <img loading="lazy"
                                src="https://cdn.discordapp.com/icons/959551566388547676/a7df59d619696a88aea5032300166c19.webp?size=512"
                                class="rounded-4 img-fluid" alt="TransPlace Logo"
                                style="width: 50% !important; height:50% !important;">
                            {% endif %}

                        </div>
                        {% else %}

                        <div class="row g-0">

                            <div class="col-md-8">

                                <div class="card-body">
                                    <h5 id="content-title" class="card-title rounded d-lg-flex">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content|truncatechars:100|linebreaks }}</p>
                                </div>

                            </div>

                            <div class="card-body">
                                <h5 id="content-title" class="card-title rounded d-lg-flex">{{ post.title }}</h5>
                            </div>


                            {% if post.file_url %}

                            <div class="col-md-4">
                                <img loading="lazy" src="{{ post.file_url }}" class="rounded-4" alt="Trans Flag"
                                    style="width: 50% !important; height:50% !important;">
                            </div>

                            {% else %}
                            <div class="col-md-4">
                                <img loading="lazy"
                                    src="https://cdn.discordapp.com/icons/959551566388547676/a7df59d619696a88aea5032300166c19.webp?size=512"
                                    class="img-fluid rounded-4" alt="TransPlace Logo"
                                    style="width: 50% !important; height:50% !important;">
                            </div>
                            {% endif %}

                        </div>
                        {% endif %}

                        <div class="card-footer">
                            {{ post.created_at|timesince }} ago

                            <br>View More
                        </div>

                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}