{% extends 'core/base.html' %}


{% block title %} {{ type }} {% endblock %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb" class="px-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" id="breadcrumb-link">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page" id="breadcrumb-here">Posts</li>
    </ol>
</nav>
{% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">

<div id="content" class="container">
    <div id="card-content" class="rounded border-0">
        <div id="section-separator" class="container rounded border-0">
            <h1>User Content</h1>
        </div>
        {% for post in posts %}
            <div id="content-card" class="card py-2">

                {% if post.reddit_url %}
                <div class="">

                    <div class="card-body">
                        <h5 id="content-title" class="card-title rounded d-lg-flex">{{ post.title }}</h5>
                    </div>

                    {% if post.file_url %}

                    <img loading="lazy" src="{{ post.file_url }}" class="rounded-4 img-fluid" alt="Trans Flag"
                        style="width: 50% !important; height:50% !important;">

                    {% else %}
                    <img loading="lazy"
                        src="https://cdn.discordapp.com/icons/959551566388547676/a7df59d619696a88aea5032300166c19.webp?size=512"
                        class="rounded-4 img-fluid" alt="TransPlace Logo"
                        style="width: 50% !important; height:50% !important;">
                    {% endif %}

                </div>
                {% else %}

                <div class="row g-0">

                    <div class="col-md-8">

                        <div class="card-body">
                            <h5 id="content-title" class="card-title rounded d-lg-flex">{{ post.title }}
                            </h5>
                            <p class="card-text">{{ post.content|truncatechars:100|linebreaks }}</p>
                        </div>

                    </div>

                    <div class="card-body">
                        <h5 id="content-title" class="card-title rounded d-lg-flex">{{ post.title }}</h5>
                    </div>


                    {% if post.file_url %}

                    <div class="col-md-4">
                        <img loading="lazy" src="{{ post.file_url }}" class="rounded-4" alt="Trans Flag"
                            style="width: 50% !important; height:50% !important;">
                    </div>

                    {% else %}
                    <div class="col-md-4">
                        <img loading="lazy"
                            src="https://cdn.discordapp.com/icons/959551566388547676/a7df59d619696a88aea5032300166c19.webp?size=512"
                            class="img-fluid rounded-4" alt="TransPlace Logo"
                            style="width: 50% !important; height:50% !important;">
                    </div>
                    {% endif %}

                </div>
                {% endif %}

                <div class="card-footer">
                    {{ post.created_at|timesince }} ago

                    <br><a href="{{ post.reddit_url }}" target="_blank">View on reddit</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}